Source: omnitty
Section: admin
Priority: extra
Maintainer: Zhong Jianxin (azuwis) <azuwis@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, librote-dev
Standards-Version: 3.8.4
Homepage: http://omnitty.sourceforge.net/
#Vcs-Git: git://git.debian.org/collab-maint/omnitty.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/omnitty.git;a=summary

Package: omnitty
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SSH Multiplexer
 Omnitty is a curses-based program that allows one to log into several machines
 simultaneously and interact with them, selectively directing input to
 individual machines or groups of selected machines.
